In [1]:
import pandas as pd

In [9]:
data = pd.read_csv(r"C:\Users\USER\OneDrive\EDINBURGH\Practical Introduction to Data Science\Projects\unnamed.txt",header=None,names=("Age","Height"))

In [10]:
type(data)

pandas.core.frame.DataFrame

In [11]:
data.head()

   Age Height
0   21    6.0
1   42    5.9
2   18   5.7*
3   21     NA

In [12]:
data

   Age Height
0   21    6.0
1   42    5.9
2   18   5.7*
3   21     NA

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     4 non-null      int64
 1   Height  4 non-null      object
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes

In [16]:
#Converting above height data type from object to float
data = pd.read_csv(r"C:\Users\USER\OneDrive\EDINBURGH\Practical Introduction to Data Science\Projects\unnamed.txt",header=None,names=("Age","Height"),dtype={"Age":"int64", "Height":"float64"})

ValueError: could not convert string to float: '5.7*'

In [17]:
data['Height']=pd.to_numeric(data['Height'],errors='coerce')

In [18]:
data

   Age  Height
0   21     6.0
1   42     5.9
2   18     NaN
3   21     NaN