In [1]:
import seaborn as sns

In [6]:
iris = sns.load_dataset('iris')

In [7]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
#Using regular expressions
#re allows you to “compile” your regular expression into an object1, which can then be used for matching.

import re

In [9]:
list(iris.columns)

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [11]:
#The Variable to be matched

r=re.compile("petal")

In [12]:
#Searching for the variable in our list of columns

list(filter(r.search,list(iris.columns)))

['petal_length', 'petal_width']