In [1]:
from datetime import datetime
print(datetime.now())

2023-09-27 16:57:17.259590

In [2]:
test = datetime.now()
print(test.year)

2023

In [3]:
1*4

4

In [4]:
5%2

1

In [5]:
print(type(3.6))

<class 'float'>

In [6]:
2**2

4

In [7]:
2**3

8

In [8]:
input('Enter your name here: ')

Enter your name here: Erastus

'Erastus'

In [9]:
print('Ras')

Ras

In [10]:
Year = 2023
Name = "Erastus"

In [11]:
print('My name is {} and we are currently in year {}'.format(Name,Year))

My name is Erastus and we are currently in year 2023

In [14]:
testy = 'Wahome'
print(testy[:3])

Wah

In [15]:
ras = [1,2,3,6,8]
print(ras)

[1, 2, 3, 6, 8]

In [16]:
ras.append(20)
print(ras)

[1, 2, 3, 6, 8, 20]

In [17]:
ras[0]=10
print(ras)

[10, 2, 3, 6, 8, 20]

In [10]:
#creating Dictionaries
D1 = {'Name':'Erastus','Age':23,'Uni':'Edinburg','list':[1,4,5]}
D1['Name']
print(D1.keys())
print(D1.values())

dict_keys(['Name', 'Age', 'Uni', 'list'])
dict_values(['Erastus', 23, 'Edinburg', [1, 4, 5]])

In [19]:
D1['list'][1]

4

In [20]:
D1['Age']

23

In [21]:
50<2

False

In [22]:
67>89

False

In [23]:
5<9

True

In [26]:
34>3 or 3>9

True

In [32]:
t = (1,3,6)

In [29]:
print(t)

(1, 3, 6)

In [35]:
myList = [45,23,32,23,45,34,32]
myList2 = set(myList)
print(myList)
print(myList2)

[45, 23, 32, 23, 45, 34, 32]
{32, 34, 45, 23}

In [38]:
if 2>3:
    print('Yay')
else:
    print('oops')

oops

In [44]:
#Simple Control Flow Program that calculates current user age
username = input("Enter your name: ")
YOB = int(input('Which year were you born? '))
if YOB != 0:
    age = 2023 - YOB
    print("Hello {}, your current age is {}!".format(username,age))
else:
    print('Kindy input valid year!')

Enter your name: Derano
Which year were you born? 0
Kindy input valid year!

In [41]:
a = 5
type(a) == int

True

In [5]:
for x in range(1,10):
    print(x)

1
2
3
4
5
6
7
8
9

In [3]:
seq = [1,3,5,6,9,19,30]

for num in seq:
    print(num*2)

2
6
10
12
18
38
60

In [4]:
i = 1

while i < 10:
    print('i is {}'.format(i))
    i = i+1

i is 1
i is 2
i is 3
i is 4
i is 5
i is 6
i is 7
i is 8
i is 9

In [7]:
#Using for loop to create a list
var = [1,4,6,8,9,2]
out = []

for num in var:
    out.append(num*2)
    
print(var)
print(out)

[1, 4, 6, 8, 9, 2]
[2, 8, 12, 16, 18, 4]

In [10]:
#List comprehesion

var2 = [x+1 for x in range(1,11)]
print(var2)
var3 = [num*2 for num in var]
print(var3)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[2, 8, 12, 16, 18, 4]

In [12]:
#Create Functions
def calc(name='Erastus'):
    print('Hello {}'.format(name))
    
calc('Wahome')

Hello Wahome

In [14]:
def der(a,b):
    
    return a*b

output = der(5,10)
print(output)

50

In [1]:
list1 = [2,3,4,6,8]
list2 = [x*2 for x in list1]
print(list2)

[4, 6, 8, 12, 16]

In [2]:
def multiplier(x):
    return x*2

multiplier(5)

10

In [3]:
map(multiplier,list1)

In [4]:
list(map(multiplier,list1))

[4, 6, 8, 12, 16]

In [5]:
list(map(lambda x:x*2,list1))

[4, 6, 8, 12, 16]

In [7]:
list(filter(lambda x:x>4,list1))

[6, 8]

In [8]:
name = 'My name is Ras'
name.split()

['My', 'name', 'is', 'Ras']

In [18]:
mylist = [1,2,3,4,5]
mylist2 = list(map(lambda x:x**2,mylist)) 
mylist3 = list(filter(lambda y:y<16,mylist2))
print(mylist2)
print(mylist3)

[1, 4, 9, 16, 25]
[1, 4, 9]