### The below code was submitted as part of Kaggle's Titanic - Machine Learning from Disaster competition.
Link: https://www.kaggle.com/competitions/titanic

In [ ]:
#Load packages
import pandas as pd
import numpy as np
import scipy
import matplotlib.pyplot as plt
import seaborn as sns
import copy

from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.svm import SVC
from sklearn.cluster import KMeans
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, mean_squared_error, roc_auc_score, r2_score
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.neighbors import KNeighborsClassifier


import warnings
warnings.filterwarnings('ignore')

### Data Upload

In [36]:
df = pd.read_csv(r"C:\Users\USER\Desktop\DATA\2025\titanic\train.csv")
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Pre-processing

1. Drop unwanted columns from the dataset
2. Separate the features from the target column
3. Sort out any missing values
4. Ensure all values are numeric

In [6]:
features = df.drop(columns=['Survived','Name','Ticket','Cabin','Embarked'])
features.head(5)

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare
0            1       3    male  22.0      1      0   7.2500
1            2       1  female  38.0      1      0  71.2833
2            3       3  female  26.0      0      0   7.9250
3            4       1  female  35.0      1      0  53.1000
4            5       3    male  35.0      0      0   8.0500

In [9]:
target = df['Survived']
target.isna().sum() #No missing values in the target values

0

In [33]:
features.isna().sum() #177 missing values in the age column

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [92]:
#Filling in the missing values with average age of the dataset
features.fillna(features['Age'].mean().round(),inplace=True)

In [35]:
features.isna().sum() #No more missing values in the age column

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [47]:
#To convert the sex column to numerical
scaler = LabelEncoder()
scaler

LabelEncoder()

In [45]:
features['Sex'] = scaler.fit_transform(features['Sex'])

In [48]:
features.head(5) #All values now numerical for modelling

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare
0            1       3    1  22.0      1      0   7.2500
1            2       1    0  38.0      1      0  71.2833
2            3       3    0  26.0      0      0   7.9250
3            4       1    0  35.0      1      0  53.1000
4            5       3    1  35.0      0      0   8.0500

### Modelling
Will use the Random Forest Classifier for the task

In [51]:
#Splitting the data
X_train,X_test,y_train,y_test = train_test_split(features,target,test_size=0.2)

In [63]:
#model
model = RandomForestClassifier(random_state=0)
model

RandomForestClassifier(random_state=0)

In [64]:
#Fitting the model
model.fit(X_train,y_train)

RandomForestClassifier(random_state=0)

In [65]:
#Making prediction
pred = model.predict(X_test)

In [93]:
#Prediction Accuracy
print("Prediction Accuracy:", accuracy_score(y_test, pred).round(2))

Prediction Accuracy: 0.82

In [94]:
#Precision
precision_score(y_test,pred).round(2)

0.76

In [96]:
#Recall
recall_score(y_test,pred).round(2)

0.77

In [97]:
#Making predictions on an external dataset
test = pd.read_csv(r"C:\Users\USER\Desktop\DATA\2025\titanic\test.csv")
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [98]:
#Dropping columns to match the training data
test.drop(columns=['Name','Ticket','Cabin','Embarked'],inplace=True)
test.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare
0          892       3    male  34.5      0      0   7.8292
1          893       3  female  47.0      1      0   7.0000
2          894       2    male  62.0      0      0   9.6875
3          895       3    male  27.0      0      0   8.6625
4          896       3  female  22.0      1      1  12.2875

In [99]:
#Converting sex column to numerical values
test['Sex'] = scaler.fit_transform(test['Sex'])
test.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare
0          892       3    1  34.5      0      0   7.8292
1          893       3    0  47.0      1      0   7.0000
2          894       2    1  62.0      0      0   9.6875
3          895       3    1  27.0      0      0   8.6625
4          896       3    0  22.0      1      1  12.2875

In [100]:
test.isna().sum()#Checking for missing values

PassengerId     0
Pclass          0
Sex             0
Age            86
SibSp           0
Parch           0
Fare            1
dtype: int64

In [103]:
test['Age'].fillna(features['Age'].mean().round(),inplace=True)

In [104]:
test['Fare'].fillna(features['Fare'].mean().round(),inplace=True)

In [105]:
test.isna().sum() #Missing values filled using averages

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [107]:
#Model Prediction
test_pred = model.predict(test)

In [110]:
test['Survived']=test_pred
test.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Survived
0          892       3    1  34.5      0      0   7.8292         0
1          893       3    0  47.0      1      0   7.0000         0
2          894       2    1  62.0      0      0   9.6875         0
3          895       3    1  27.0      0      0   8.6625         0
4          896       3    0  22.0      1      1  12.2875         0

In [113]:
test['Survived']

0      0
1      0
2      0
3      0
4      0
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [114]:
#Dataframe to store PassengerId and Survival Prediction
result = test[['PassengerId','Survived']]
result.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [115]:
#Exporting Data
result.to_csv('Predictions.csv', index=False)